Repository Tanuel/TmWindow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish, pages

publish:
  stage: release
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
    policy: pull
  script:
  - yarn install
  - yarn build
  - yarn release
  artifacts:
    paths:
    - public

pages:
  stage: deploy
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
    policy: pull
  script:
  - yarn install
  - yarn build:docs
  artifacts:
    paths:
    - public

Remove changelog and git semantic release plugins for further evaluation
  CHANGELOG
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

PATCH: Add className and id options
  src/ts/tmwindow/ITmWindowOptions.ts
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

Update license
  LICENSE
Due: none

Update author info
  package.json
Due: none

PATCH: Add title property to the title element
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

Update dependencies
  yarn.lock
Due: none

PATCH: Fix minor styling issues
  src/scss/components/_content.scss
  src/scss/components/_header.scss
  src/scss/components/_state.scss
  src/scss/components/_wrapper.scss
  src/scss/main.scss
  src/scss/variables/_classmap.scss
  src/scss/variables/_colors.scss
Due: publish, pages

PATCH: Add height and width options
  src/ts/tmwindow/ITmWindowOptions.ts
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

PATCH: Change how options get applied internally
  src/ts/tmwindow/ITmWindowOptions.ts
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

BUGFIX: Fix minimize method
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

BUGFIX: Fix close method spaghetti
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

PATCH: Add toggle method
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

Update documentation
  Gruntfile.js
  src/docs/index.html
  src/docs/js/example.js
  src/docs/scss/docs.scss
Due: pages

Remove nonexistant stylesheet entry from docs
  src/docs/index.html
Due: pages

BUGFIX: Fix resizable icon overlapping maximize button when minimized
  src/scss/components/_state.scss
Due: publish, pages

Small fixes and improvements
  Gruntfile.js
  Readme.md
  package.json
  src/docs/index.html
  src/docs/js/example.js
  src/scss/components/_content.scss
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

PATCH: Add support for touch events
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

PATCH: Exclude source files but keep declaration files from npm
  .npmignore
Due: none

PATCH: Add tests
  .gitignore
  .gitlab-ci.yml
  .npmignore
  Readme.md
  jest.config.js
  package.json
  src/ts/tmwindow/TmWindow.test.ts
  yarn.lock
Due: publish, pages

BUGFIX: Fix bugs found while implementing unit tests
  src/ts/tmwindow/ITmWindowOptions.ts
  src/ts/tmwindow/TmWindow.ts
Due: publish, pages

SECURITY: Upgrade dependencies
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: none

TASK: Add yarn.lock to watched files for release
  .gitlab-ci.yml
Due: none

SECURITY: Upgrade dependencies
  .gitlab-ci.yml
  yarn.lock
Due: none

PATCH: Upgrade dependencies
  Gruntfile.js
  package.json
  src/ts/tmwindow/TmWindow.ts
  tsconfig.json
  yarn.lock
Due: publish, pages

PATCH: Remove gitlab-release
  package.json
  yarn.lock
Due: none

Revert "PATCH: Remove gitlab-release"
  package.json
  yarn.lock
Due: none

PATCH: Add release-notes-generator
  package.json
  yarn.lock
Due: none

Path conditions:
  publish: any of: src/ts/**/*, src/scss/**/*
  pages: any of: src/**/*, Readme.md
